@model CarFactory.Application.Users.Dto.UserDto
@using System.Web.Optimization
@using CarFactory.Admin
@{
    ViewBag.ActiveMenu = PageNames.Home; //The menu item will be active for this page.
    ViewBag.PageName = "主页";
    ViewBag.Title = "主页";
}

@section BreadCrumb
{
    <li>
        <a href="/admin">首页</a>
        <i class="fa fa-circle"></i>
    </li>
}



<div class="note note-info">
</div>



