@model X.PagedList.StaticPagedList<CarFactory.Application.Products.Dtos.ProductListDto>

@if (Model.Count > 0)
{
<div class="pagination" data-ajax="true" id="flickrpager" style="margin-top:20px">
    @if (Model.IsFirstPage)
    {
        <span class="disabled">上页</span>
    }
    else
    {
        <a href="{{ $paginator->previousPageUrl() }}" rel="prev">上页</a>
    }

    <!-- Pagination Elements -->
    @foreach (var item in Model)
    {
        @Model.
    }

</div>
}


@if (!$paginator->isEmpty())
<div class="pagination" data-ajax="true" id="flickrpager" style="margin-top:20px">
    
    <!-- Pagination Elements -->
    @foreach ($elements as $element)
<!-- "Three Dots" Separator -->
    @if (is_string($element))
                    <span class="disabled">{{ $element }}</span>
    @endif

    <!-- Array Of Links -->
    @if (is_array($element))
        @foreach ($element as $page => $url)
@if ($page == $paginator->currentPage())
<span class="current">{{ $page }}</span>
@else
<a href="{{ $url }}">{{ $page }}</a>
@endif
@endforeach
@endif
@endforeach

<!-- Next Page Link -->
@if ($paginator->hasMorePages())
<a href="{{ $paginator->nextPageUrl() }}" rel="next">下页</a>
@else
<span class="disabled">下页</span>
@endif
</div>
@endif
