<div class="nav">
    <ul>
        <li style="background: none;"><a href="/" rel="nofollow">网站首页</a></li>

        <li><a href="/about" rel="nofollow">关于我们</a></li>

        <li><a href="/products" rel="nofollow">产品展示</a></li>

        <li><a href="/informations" rel="nofollow">新闻中心</a></li>

        <li><a href="/projects" rel="nofollow">工程案例</a></li>

        <li><a href="/reports" rel="nofollow">检测报告</a></li>

        <li><a href="/contact" rel="nofollow">联系我们</a></li>

    </ul>
</div>