<div class="main3">
    <div class="maint3">
        <div class="black1"></div>
        <div class="maint3_tt"></div>
        <div class="maint3_ow">
            <p>
                烟台澳昌环保科技有限公司是澳大利亚CPC公司、世贸（澳大利亚）集团公司及澳洲Tech-Dry公司在烟台的唯一总代理。所有进口产品有澳洲商贸委推荐。
                世贸（澳大利亚）集团公司，是一家大型的销售集团公司，旗下有：CPC公司、TGA聚合物公司、Tech-Dry公司、水处理设备公司、爱心护理垫公司、乳品公司、皇家葡萄酒庄园、慈善与福利事业部、牛羊肉冻品皮革公司、防水防污工程公司及清洁用品公司。
                公司宗旨：尖端科技、低碳环保、成就卓越。
                澳大利亚CPC公司，是国际知名的混凝土保护及防水涂料公司，公司位于悉尼市郊，拥有现代化的花园式厂房、国际先进的自动化设备和环保检测设备。目前是国际最大的硅烷纳米防水剂及添加剂生...@Html.ActionLink("[查看全文]","Index","About")
            </p>
            <a href="#"><img src="~/Content/images/public/index_30.jpg" style="padding-top:50px" /></a>
        </div>
    </div>
</div>