@model CarFactory.Application.Company.Dtos.CompanyListDto
<div class="banner">
    <div id="full-screen-slider">
        <ul id="slides">
            <li style="background:url('/Content/images/public/01.jpg') no-repeat center top"></li>
            <li style="background:url('/Content/images/public/02.jpg') no-repeat center top"></li>
            <li style="background:url('/Content/images/public/03.jpg') no-repeat center top"></li>
        </ul>
    </div>
</div>
<div class="lx">
    <div class="lxt">
        <span class="tel"><img src="~/Content/images/public/tel_05.jpg" width="225" height="59" onclick="javascript:popup_qs()" style="cursor:pointer;" /></span>
        <span class="w1">
            <p>
                联系人：@Model.LinkMan<br />
                电话：@Model.Tel
            </p>
        </span>
        <span class="w2">
            <p>
                地址：@Model.Address<br />
                邮箱：@Model.Email
            </p>
        </span>
    </div>
</div>