@using System.Configuration
@using Abp.Application.Services.Dto
@using CarFactory.Application.Banner.Dtos
@model CarFactory.Application.Company.Dtos.CompanyListDto
@{
    var bannerList = ViewBag.BannerList as PagedResultDto<BannerListDto>;
    string fileServer = ConfigurationManager.AppSettings["FileServer"];
}
<div class="banner">
    <div id="full-screen-slider">
        <ul id="slides">
            @if (bannerList != null)
            {
                foreach (var banner in bannerList.Items)
                {
                    <li style="background: url('@(fileServer + banner.Img)') no-repeat center top;background-size: 1600px 466px"></li>
                }
            }
        </ul>
    </div>
</div>
<div class="lx">
    <div class="lxt">
        <span class="tel"><img src="~/Content/images/public/tel_05.jpg" width="225" height="59" onclick="javascript:popup_qs()" style="cursor:pointer;" /></span>
        <span class="w1">
            <p>
                联系人：@Model.LinkMan<br />
                电话：@Model.Tel
            </p>
        </span>
        <span class="w2">
            <p>
                地址：@Model.Address<br />
                邮箱：@Model.Email
            </p>
        </span>
    </div>
</div>