
<div class="main2">
    <div class="main2_tt"></div>
    <div class="maint2_ow">
        <div class="new">
            <ul>
                <li>
                    <a href="/xinwenzhongxin/20160504531.html">
                        <span class="title">自流平地坪科学简介</span>
                        <span class="n_ow"><p>自流平地坪 适用范围很广，例如：食品加工厂、电子厂、仪控室、冷冻室、无尘室、医院等地。它的抗压强度很高，具有耐磨、耐油、耐水、耐碱、耐酸以及耐盐水性能...</p></span>
                    </a>
                </li>
                <li>
                    <a href="/xinwenzhongxin/20160427530.html">
                        <span class="title">耐磨地坪之施工工艺</span>
                        <span class="n_ow"><p>大家有没有听过环氧树脂 耐磨地坪 ，在一些仓库、厂房是经常能见到的，跟普通的耐磨地坪相比它能载重，更加具有光泽感，下面为大家简单的介绍一下耐磨地坪的施工...</p></span>
                    </a>
                </li>
                <li>
                    <a href="/xinwenzhongxin/20160414529.html">
                        <span class="title">耐磨地坪伸缩缝切割需要注意的事项</span>
                        <span class="n_ow"><p>耐磨地坪 在施工处理完之后通常需要切割所存在的伸缩缝，下面为大家讲解一下切割伸缩缝时所要注意的事项。 一、最关键的是需要准确掌握切割伸缩缝的时机，若是切...</p></span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="tu"><img src="~/Content/images/public/index_21.jpg" /></div>
    </div>
</div>