<div class="main1">
    <div class="main1t">
        <div class="main1_tt"></div>
        <script>
            function ctab(num,n){
                for(i=1;i<=n;i++){
                    var nav=document.getElementById("navij"+i);
                    var con=document.getElementById("subij"+i);
                    nav.className=i==num?"hover":"";
                    con.style.display=i==num?"":"none";
                }
            }
        </script>
        <div class="product">
            <ul>
                <li class="hover" id="navij1" onmouseover="ctab(1,7)"><a href="#">地坪施工方案</a></li>
                <li id="navij2" onmouseover="ctab(2,7)"><a href="#">防水方案</a></li>
                <li id="navij3" onmouseover="ctab(3,7)"><a href="#">防水产品 </a></li>
                <li id="navij4" onmouseover="ctab(4,7)"><a href="#">硅烷纳米抗渗产品</a></li>
                <li id="navij5" onmouseover="ctab(5,7)"><a href="#">防腐方案</a></li>
                <li id="navij6" onmouseover="ctab(6,7)"><a href="#">防火方案</a></li>
                <li id="navij7" onmouseover="ctab(7,7)"><a href="#">石材木材保护剂</a></li>
            </ul>
        </div>
        <div class="product_body" id="subij1">
            <div class="td">
                <div class="td1">
                    <a href="/product/dpsgfa/20151221517.html" alt="欣和食品TGA天冬聚脲防紫外线面涂方案" target="_blank">
                        <img src="/images/uploads/allimg/1-151221142K70-L.jpg" alt="欣和食品TGA天冬聚脲防紫外线面涂方案" />
                    </a>
                </div>
                <div class="td2">
                    <a href="/product/dpsgfa/20151221517.html" alt="欣和食品TGA天冬聚脲防紫外线面涂方案" target="_blank">欣和食品TGA天冬聚脲防紫外线...</a>
                </div>
            </div>
            <div class="td">
                <div class="td1">
                    <a href="/product/dpsgfa/20151215515.html" alt="欣和食品TGA水性天冬聚脲自流平方案" target="_blank">
                        <img src="/images/uploads/allimg/1-1512150T4230-L.jpg" alt="欣和食品TGA水性天冬聚脲自流平方案" />
                    </a>
                </div>
                <div class="td2">
                    <a href="/product/dpsgfa/20151215515.html" alt="欣和食品TGA水性天冬聚脲自流平方案" target="_blank">欣和食品TGA水性天冬聚脲自流...</a>
                </div>
            </div>
            <div class="td">
                <div class="td1">
                    <a href="/product/dpsgfa/20151224518.html" alt="欣和食品TGA地坪漆粉刷方案" target="_blank">
                        <img src="/images/uploads/allimg/1-1512242232230-L.jpg" alt="欣和食品TGA地坪漆粉刷方案" />
                    </a>
                </div>
                <div class="td2">
                    <a href="/product/dpsgfa/20151224518.html" alt="欣和食品TGA地坪漆粉刷方案" target="_blank">欣和食品TGA地坪漆粉刷方案...</a>
                </div>
            </div>
            <div class="td">
                <div class="td1">
                    <a href="/product/dpsgfa/20151128485.html" alt="TGA聚合物耐磨地坪施工方案" target="_blank">
                        <img src="/images/uploads/allimg/1-160120104T0629.jpg" alt="TGA聚合物耐磨地坪施工方案" />
                    </a>
                </div>
                <div class="td2"><a href="/product/dpsgfa/20151128485.html" alt="TGA聚合物耐磨地坪施工方案" target="_blank">TGA聚合物耐磨地坪施工方案...</a></div>
            </div>
        </div>
        <div class="product_body" id="subij2" style="display:none">
            <div class="td">
                <div class="td1">
                    <a href="/product/fangshuifangan/20151128479.html" alt="TGA屋面防水涂装工程" target="_blank">
                        <img src="/images/uploads/allimg/1-15112Q643460-L.jpg" alt="TGA屋面防水涂装工程" />
                    </a>
                </div>
                <div class="td2"><a href="/product/fangshuifangan/20151128479.html" alt="TGA屋面防水涂装工程" target="_blank">TGA屋面防水涂装工程</a></div>
            </div>
            <div class="td">
                <div class="td1">
                    <a href="/product/fangshuifangan/20151128478.html" alt="地下室室内渗漏" target="_blank">
                        <img src="/images/uploads/allimg/1-15112Q642030-L.jpg" alt="地下室室内渗漏" />
                    </a>
                </div>
                <div class="td2"><a href="/product/fangshuifangan/20151128478.html" alt="地下室室内渗漏" target="_blank">地下室室内渗漏</a></div>
            </div>
            <div class="td">
                <div class="td1">
                    <a href="/product/fangshuifangan/20151128477.html" alt="浴室卫生间防漏层" target="_blank">
                        <img src="/images/uploads/allimg/1-15112Q640280-L.jpg" alt="浴室卫生间防漏层" />
                    </a>
                </div>
                <div class="td2"><a href="/product/fangshuifangan/20151128477.html" alt="浴室卫生间防漏层" target="_blank">浴室卫生间防漏层</a></div>
            </div>
            <div class="td">
                <div class="td1">
                    <a href="/product/fangshuifangan/20151128475.html" alt="彩钢屋面防水施工方案" target="_blank">
                        <img src="/images/uploads/allimg/1-160120110141B2.jpg" alt="彩钢屋面防水施工方案" />
                    </a>
                </div>
                <div class="td2"><a href="/product/fangshuifangan/20151128475.html" alt="彩钢屋面防水施工方案" target="_blank">彩钢屋面防水施工方案</a></div>
            </div>
        </div>

    </div>
</div>
<div style="clear:both"></div>
